.hero {
  background-color: $primary-700;
}

.hero__content {
  @include center-vertically;
  font-family: Inter;
  min-height: $banner-min-height;
  max-height: $hero-max-height;

  .display-3 {
    @extend .py-3;
    color: $white;
    max-width: 50%;
  }
  .hero__image {
    max-height: $hero-max-height;
    height: 100%;
  }
}

.word-splitter .highlighted {
  color: $brand;
}

@include media-breakpoint-down(md) {
  .hero {
    min-height: 200px;
    max-height: 331px;

    .display-3 {
      max-width: 100%;
    }
  }
}
