.hero {
  white-space: pre-line;
  width: 100%;
}

.hero__content {
  font-family: Inter;
  min-height: $banner-min-height;
  max-height: $hero-max-height;
  width: 100%;
  .display-1 {
    @extend .py-3;
    color: $white;
    top:18%;
    left:5%;
    font-style: italic;
    max-width:25%;
    position: absolute;
  }
  div {
    min-height: $banner-min-height;
    max-height: $hero-max-height;
    height: 100%;
  }
  .hero__image {
    min-height: $banner-min-height;
    max-height: $hero-max-height;
    height: 100%;
    width: 100%;

  }
  .highlighted {
    color: $accent-b;
  }
}

@include media-breakpoint-down(md) {
  .hero {
    min-height: 250px;
    max-height: 400px;

    .display-1 {
      max-width: 100%;
    }
  }
}
