.full-body {
  overflow-x: hidden; /* avoid horizontal scrollbar */
}

.padded-body {
  margin: 180px 0 0 24px;
  padding: 0em 0.9em 0em 0em;
}

.course-info-title {
  position: relative;
  width: 70% !important;
  left: 0% !important;
  flex-shrink: 1;
  letter-spacing: -0.02em;
}

.course-info-partner {
  position: relative;
  height: 36px;
  left: 0% !important;
}

.course-info-hero {
  background-position: center;
  width: 1140px !important;
  height: 300px !important;
}

.landing-page-download {
  float: right;
}

.preview-title {
  justify-content: space-between;
  display: flex;
  clear: right;
}

.partner-logo-thumbnail {
  position: absolute;
  z-index: 1;
  left: 2%;
  top: 230px;
  width: 12vw;
  max-width: 200px;
  min-width: 200px;
  height: 70%;
  max-height: 90px;
  background-color: $light-300;
  box-shadow: $box-shadow;
}

.card {
  cursor: pointer;
  width: 300px;
  line-height: 24px;
}

.cards-partner-logo {
  left: 5%;
  height: auto;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  top: 60px;
  max-width: 100px;
  background-color: $light-300;
  box-shadow: $box-shadow;
}

.cards-course-image {
  height: 100px;
  object-fit: cover;
  width: auto;
}

.cards-spacing {
  flex-grow: 3;
}

.program-card {
  background: $primary-500;
  border: 0px;
  color: $white;
  .h4 {
    color: $white;
  }
}

.banner-section {
  line-height: 24px;
  color: $primary-300;
}

.slash {
  font-weight: 700;
  font-size: 60px;
  color: $gray-100;
}

.banner-subtitle {
  margin-left: 30px;
}

.course-info-modal {
  position: absolute !important;
  top: 10%;
}

.pgn__modal-close-container {
  background-color: $gray-100 !important;
  border-radius: 50% !important;
  border: solid 1px $black;
}

.course-info-footer-button {
  border-radius: 0px !important;
}

.catalog-search-result-column-title {
  text-align: left;
}

.course-info-skills {
  background-color: $light-300;
}

.course-info-skills-list {
  display: block;
  padding-inline-start: 0;
  font-size: medium;

  li {
    display: inline-block;
  }
  li:not(:last-child):after {
    content: "\2022";
    margin: 0 10px;
  }
}

.course-info-modal-course-thumbnail {
  width: 9vw;
  max-width: 230px;
  min-width: 170px;
  height: 12vw;
  max-height: 100px;
  min-height: 90px;
}

@media only screen and (max-width: 850px) {
  .slash {
    display: none;
  }
  .banner {
    display: block;
  }
  .banner-section {
    margin-bottom: 16px;
  }
}
