@import "~@edx/brand/paragon/fonts.scss";
@import "~@edx/brand/paragon/variables.scss";
@import "@edx/paragon/scss/core/core.scss";
@import "~@edx/brand/paragon/overrides.scss";

@import "~@edx/frontend-component-header/dist/index";
@import "~@edx/frontend-component-footer/dist/footer";

@import "~@edx/frontend-enterprise-catalog-search";

// Variables and mixins must come before other styles
@import "./styles/variables";
@import "./styles/mixins";

@import "./styles/site_header";
@import "./components/catalogs/styles";
@import "./components/hero/Hero";
@import "./components/subheader/subheader";
@import "components/catalogSelectionCard/CatalogSelectionCard";
@import "components/catalogSelectionDeck/CatalogSelectionDeck";

.alacart-catalog.badge  {
    margin: 3px;
    padding: 6px;
    max-width: 20vw;
    color: #ffffff;
    font-weight: 300;
    background-color: #202020;
  }

.business-catalog.badge {
    @extend .alacart-catalog, .badge;
    background-color: #475B65
  }

.education-catalog.badge {
    @extend .alacart-catalog, .badge;
    color: #1c1c1c;
    background-color: #e0e0e0;
  }
