@import '~@edx/brand/paragon/overrides.scss';

.catalog-selection-deck {
  @extend .mb-5;
  white-space: pre-line;
  padding: 0px 6px;

  h2 {
    padding: 0px 0px 12px;
  }

  .pgn__form-label {
    margin: 4px 0px;
  }

  .badge {
    margin-bottom: 4px;
  }
}
